


*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    transition: all .2s linear;
}

*::selection{
    background: #34E359;
    color: #fff;
}

header a#logo-nome{
    display: flex;
    top: 0;
    font-size: 30px;
    padding: 17px;
    color: #34E359;
    
}

header a i{
    margin-top: 10px;
    margin-right: 10px;
    font-size:60px;
    color: #34E359;
}

body{
    min-height: 100vh;
    background: #292929  ;
    overflow-x: hidden;
    overflow-y: scroll;
}

.btn{
    display: inline-block;
    padding: .8rem 3rem;  /*aqui define o tamanho do botão 8rem é altura 3 rem o comprimento*/
    border: .2rem solid #00bcd4; /*aqui define o tamando da bordar e sua cor*/
    color:#00bcd4; /*Aqui define a cor do texto*/
    cursor: pointer;
    font-size: 1.5rem; /*define o tamanho da letra*/
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: #00bcd4;
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before{
    width: 100%;
    left: 0;
}

.btn:hover{
    color: #fff;
}

#menu-bar{
    position: fixed;
    top: 20px; right: 30px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    background: #34E359;
    color: #000;
    text-align: center;
    z-index: 1000;
}

#menu-bar.fa-times{
    transform: rotate(180deg);
    background: #000;
    color: #fff;
}

.navbar{
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: #34E359;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 50px;
    clip-path: circle(0% at 95.3% 8.5%);
}

.navbar.active{
    clip-path: circle(140% at 95.3% 8.5%);
}


.navbar a{
    font-size: 30px;
    padding-bottom: 30px;
    color: black;
}

.navbar a::before{
    content: attr(data-text);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: black;
    pointer-events: none;
    font-weight: bolder;
    letter-spacing: .4em;
    opacity: 0;
    z-index: -1;
}

.navbar a:hover::before{
    letter-spacing: 0em;
    opacity: .1;
    transition: .3s ease-out;
}

h1{
    font-size: 55px;
}
.sociais{
    position: absolute;
    top: 220px;
    left: 130px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.sociais::before{
    content: '';
    position: absolute;
    width: 1vh;
    height: 150px;
    background: #34E359;
}

.sociais li{
    list-style: none;
    width: 50px;
    margin-bottom: 10px;
}

.sociais li a{
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sociais i:hover{
    color: #34E359;
}

.Eu{
    height: 105vh;
}

.Eu p{
    position: absolute;
    top:35%;
    left: 15%;
}

.Eu h1{
    position: absolute;
    top:37%;
    left: 15%;
}

.Eu h3{
    position: absolute;
    top:45%;
    left: 15%;
}


.elements{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}

.competencias{
    position: relative;
    display: flex;
    height: 150px;
}

.competencias::before{
    content: '';
    position: absolute;
    left: 67vh;
    top:-80px;
    width: 450px;
    height: 1vh;
    background: #03a9f4;
}

.competencias h3{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 8em;
    left: 100vh;
}

.competencias h3:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.competencias h3:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
        clip-path: polygon(0 44%, 13% 44%, 29% 48%, 41% 53%, 51% 56%, 66% 58%, 79% 55%, 93% 54%, 100% 50%, 100% 100%, 0 100%);
    }
    50%{
        clip-path: polygon(0 51%, 15% 59%, 27% 61%, 43% 61%, 53% 58%, 66% 53%, 77% 45%, 90% 38%, 100% 36%, 100% 100%, 0 100%);
    }
}

.princomp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* height: 189vh; */
    font-family: 'Roboto Condensed', sans-serif;
}

.boxe{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#060c21;
    margin: 40px;
    margin-bottom: 10%;
}

.boxe::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.boxe::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.boxe:nth-child(1)::before,
.boxe:nth-child(1)::after{
    background: linear-gradient(235deg,#00bcd4,#010615,#89ff00);
}

.boxe:nth-child(2)::before,
.boxe:nth-child(2)::after{
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}

.boxe:nth-child(3)::before,
.boxe:nth-child(3)::after{
    background: linear-gradient(235deg,#772aff,#010615,#2196f3);
}

.boxe:nth-child(4)::before,
.boxe:nth-child(4)::after{
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}

.boxe .glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background:rgba(255,255,255,.1);
}

.boxe .contente{
    padding: 20px;
    color: #fff;
}

.boxe .contente h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-shadow: 0.1em 0.1em 0.2em #2196f3;
}

.boxe .contente li {
    list-style: none;
    font-size: 60px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxe .contente p{
    padding: 0,1rem;
    line-height: 20px;
    text-transform: capitalize;
    text-shadow: 0.1em 0.1em 0.2em #292929;
}



.projects .box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.projects .box .box-22{
    padding: 2rem;
    background: #292928;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: 0.3rem solid #3586ff;
    border-radius: .5rem;
    text-align: center;
    flex: 1 1 30rem;
    position: relative;

}

.projects .box .box-22 img{
    height: 25rem;
    width: 100%;
    object-fit: scale-down;
    border-radius: .5rem;
}


.projects .box .box-22 h3{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    padding-top: 1rem;
}

.projects .box .box-22 .stars i{
    color: gold;
    font-size: 1.7rem;
    padding:1rem .1rem;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.animation{
    margin-top: 2vh;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.papaer-plane{
    height: 100px;
    position: absolute;
    top: 30%;
}

footer{
    position: relative;
    width: 100%;
    background-color: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social-icons, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icons li, footer .menu li{
    list-style: none;
}

footer .social-icons li a{
    font-size: 2em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social-icons li a:hover{
    transform: translateY(-10px);
}

footer .menu li a{
    font-size: 1.2em;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}

footer p{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave{
    position: absolute;
    top: -100px; 
    left: 0;
    width: 100%;
    height: 100px;
    background:url(../wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}







@media(max-width:1200px){
    html{
        font-size: 98%;
    }
    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;  /*definindo o tamnho do home*/
    }

    .Eu p{
        position: absolute;
        top:41vh;
        left: 20vh;
    }
    .Eu h1{
        position: absolute;
        top:42vh;
        left: 20vh;
    }
    .Eu h3{
        position: absolute;
        top:50vh;
        left: 37vh;
    }

    .competencias h3{
        left: 45%;
        font-size: 6em;
    }

    .sociais{
        top: 220px;
        left: 10px;
    }

    #imagens{
        width: 50%;
    }

    .competencias::before{
        display: none;
    }
    .projects .box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .projects .box .image{
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .projects .box .content h3{
        display:flex;
        position: absolute;
        left: 69%;
        justify-content:center;
        align-items: center;
        font-size: 1.2rem;
        padding: 0.1rem;
        text-shadow: 0.1em 0.1em 0.2em black;
    }
    
    .projects .box .content p{
        display:flex;
        justify-content:center;
        align-items: center;
        font-size: 1rem;
        line-height: 25px;
        padding: 0.1rem;
        margin: 5px;
    }
    
    .projects-2 .box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .projects-2 .box .image{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .projects-2 .box .content h3{
        display:flex;
        justify-content:center;
        align-items: center;
        font-size: 2rem;
        padding: 0.1rem;
        margin: 5px;
        text-shadow: 0.1em 0.1em 0.2em black;
    }
    
    .projects-2 .box .content p{
        display:flex;
        justify-content:center;
        align-items: center;
        font-size: 1.5rem;
        line-height: 25px;
        padding: 0.1rem;
        margin: 5px;
    }

    .projects-2{
        height: 80vh;
    }

    

}

@media(max-width:500px){
    html{
        font-size: 80%;
    }
    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;  /*definindo o tamnho do home*/
    }
    .Eu{
        height: 70vh;
    }
    .Eu p{
        position: absolute;
        top:33%;
        left: 29%;
    }
    .Eu h1{
        position: absolute;
        font-size: 2.5em;
        top:35%;
        left: 29%;
    }
    .Eu h3{
        position: absolute;
        top: 40%;
        left: 35%;
    }
    
    .competencias h3{
        left: 45%;
        font-size: 3em;
    }

    .sociais{
        top: 220px;
        left: 10px;
    }

    #imagens{
        display:none;
    }

    .competencias::before{
        display: none;
    }
    .projects .box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .projects .box .image{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .projects .box .content h3{
        display:flex;
        justify-content:center;
        align-items: center;
        font-size: 2rem;
        padding: 0.1rem;
        margin: 5px;
        text-shadow: 0.1em 0.1em 0.2em black;
    }
    
    .projects .box .content p{
        display:flex;
        justify-content:center;
        align-items: center;
        font-size: 1.5rem;
        line-height: 25px;
        padding: 0.1rem;
        margin: 5px;
    }
    
    .projects-2 .box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .projects-2 .box .image{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .projects-2 .box .content h3{
        display:flex;
        justify-content:center;
        align-items: center;
        font-size: 2rem;
        padding: 0.1rem;
        margin: 5px;
        text-shadow: 0.1em 0.1em 0.2em black;
    }
    
    .projects-2 .box .content p{
        display:flex;
        justify-content:center;
        align-items: center;
        font-size: 1.5rem;
        line-height: 25px;
        padding: 0.1rem;
        margin: 5px;
    }

    .projects-2{
        height: 80vh;
    }

    .projects .box{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .projects .box .content{
        flex: 1 1 30rem;
        position: relative;
        overflow: hidden;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        border: 1rem solid rgba(0,0,0,.3);
        cursor:pointer;
    }

    
 }
